/*задаем измерение размера блока
========================================================================== */

*, 
*::before, 
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*подключаем нестандартные шрифты
  ========================================================================== */

@font-face {
  font-family: "Raleway Regular";  /*подключаем нестандартные шрифты жестко*/
  font-weight: normal;
  font-style: normal;
  src: local("Raleway Regular"),  /*директива local() позволяет ссылаться на шрифт и загружать его, а также использовать шрифты, установленные на устройстве пользователя*/
  url("../font/raleway-regular-webfont.woff2") format("woff2"),
  url("../font/raleway-regular-webfont.woff") format("woff"),
  url("../font/raleway-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway Bold";
  font-weight: normal;
  font-style: normal;
  src: local("Raleway Bold"),
  url("../font/raleway-bold-webfont.woff2") format("woff2"),
  url("../font/raleway-bold-webfont.woff") format("woff"),
  url("../font/raleway-bold-webfont.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway light";
  font-weight: normal;
  font-style: normal;
  src: local("Raleway light"),
  url("../font/raleway-light-webfont.woff2") format("woff2"),
  url("../font/raleway-light-webfont.woff") format("woff"),
  url("../font/raleway-light-webfont.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway Semibold";
  font-weight: normal;
  font-style: normal;
  src: local("Raleway SemiBold"),
  url("../font/raleway-semibold-webfont.woff2") format("woff2"),
  url("../font/raleway-semibold-webfont.woff") format("woff"),
  url("../font/raleway-semibold-webfont.ttf") format("ttf");
}

/*задаем общие свойства
  ========================================================================== */

.overall {  /*body*/
  width: 100%;
  min-width: 320px;
  font-size: 100%;  /*16px*/
  font-family: "Open Sans", "Myriad pro", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

/*header
  ========================================================================= */
.header {
  background-color: #313454;
}
  
.fixed {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #313454;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1178px; /*62%*/
  margin: 0 auto 0 auto;
}

.header__wrapper {
  padding: 37px 0 37px 0;
  background: url("../img/border-bottom-header.png") repeat-x bottom;
}

.logo {
  width: 189px;
  height: 24px;
  text-indent: -9000px;
  background: url("../img/logo.png") no-repeat left;
}

.logo__caption1 {
  margin: 0;
  padding: 0;
}

.navigation__wrap {
  width: 50%;
}

.navigation__wrap>input,
.navigation__label>span {
  display: none;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.navigation__item {  /*item - li*/
  display: inline-block; 
}

.navigation__link {
  font-size: 0.8em;
  font-family: "Raleway Bold";
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
}

.navigation__link:hover,
.navigation__link:focus {
  color:  rgb(255, 255, 255);
}

/*masthead
  ========================================================================== */

.masthead {
  min-height: 750px;
  padding: 245px 0 140px 0;
  background: url("../img/header-block.png") no-repeat center;
}

.masthead__wrapper {
  max-width: 950px; /*50%*/
  margin: 0 auto 0 auto;
}

.masthead__caption {
  margin: 0;
  font-size: 4em;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.masthead__info {
  margin: 25px 0 0 0;
  font-size: 1.4em;
  line-height: 150%;
  font-family: "Raleway Regular";
  text-align: center;
  color: #ffffff;
}

.masthead__btn {
  margin: 72px auto 0 auto;
}

/*features
  ========================================================================== */

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  max-width: 1080px;  /*57%*/
  margin: 0 auto;
  padding: 120px 0 97px 0;
}

.feature {
  width: 29%;  /*300px*/
}

.feature__text {
  max-width: 310px;
  margin: 0 auto;
}

.feature::before {
  content: "";
  display: block;
  height: 60px;
  margin: auto;
}

.feature--customised::before {
  width: 60px;
  background: url("../img/feature1.png") no-repeat;
}

.feature--responsive::before {
  width: 73px;
  background: url("../img/feature2.png") no-repeat;
}

.feature--design::before {
  width: 41px;
  background: url("../img/feature3.png") no-repeat;
}

.feature--code::before {
  width: 56px;
  height: 60px;
  margin-top: 48px;
  background: url("../img/feature4.png") no-repeat;
}

.feature--ready::before {
  width: 72px;
  margin-top: 48px;
  background: url("../img/feature5.png") no-repeat;
}

.feature--download::before {
  width: 79px;
  margin-top: 48px;
  background: url("../img/feature6.png") no-repeat;
}

.feature__caption {
  margin: 30px 0 0 0;
  font-size: 1em;
  text-align: center;
}

.feature__link {
  font-size: 0.9em;
  font-family: "Raleway Bold";
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #2d3033;
}

.feature__info {
  text-align: center;
}

.info-text {
  margin: 20px 0 0 0;
  font-size: 0.9em;
  line-height: 150%;
  font-family: "Raleway Regular";
  color: #6c7279;
}

/*works
  ========================================================================== */

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work {
  position: relative;
  z-index: 0;
  display: block;
  width: 25%;
  height: 350px;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  text-decoration: none;
  overflow: hidden; 
}

.work__img {
  position: absolute;
  max-width: 650px;
  max-height: 350px;
  -webkit-transition: opacity ease-in-out 1s, transform ease-in-out .5s;
  -moz-transition: opacity ease-in-out 1s, transform ease-in-out .5s;
  -o-transition: opacity ease-in-out 1s, transform ease-in-out .5s;
  transition: opacity ease-in-out 1s, transform ease-in-out .5s;
}

.work__img:hover,
.work__img:focus {
  opacity: 0.1;
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.work__thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100%;
  background-color: rgb(232, 69, 69);
}

.work__thumb-caption, 
.work__thumb-info {
  font-size: 0.9em;
  line-height: 150%;
  font-family: "Raleway Bold";
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.work__thumb-info {
  margin-top: 10px;
  font-family: "Raleway Regular";
  text-transform: none;
}

/*teams
  ========================================================================== */

.teams {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1170px;  /*61.6%*/
  margin: 0 auto;
  padding: 103px 0 103px 0;
  text-align: center;
}

.team {
  width: 23%;  /*300px*/
}

.team img {
  max-width: 100%;
  height: auto;
}

.team__text {
  max-width: 270px;
  margin: 0 auto;
}

.team__name {
  margin: 24px 0 0 0;
  font-size: 1.4em;
  font-family: "Raleway Regular";
  font-weight: 400;
  text-align: left;
  color: #2d3033;
}

.team__position {
  margin: 10px 0 0 0;
  font-size: 0.8em;
  font-family: "Raleway Regular";
  text-align: left;
  text-transform: uppercase;
  color: #e84545;
}

.team__info {
  text-align: left;
}

.team__networks {
  width: 130px;
  margin-top: 25px;
}

.networks__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.networks__item {
  display: inline-block;
}

.networks__link {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9000px;
}

.team__networks--facebook {
  background: url("../img/sprite.png") no-repeat 0 0;
}

.team__networks--facebook:hover,
.team__networks--facebook:focus {
  background: url("../img/sprite.png") no-repeat 0 -50px;
}

.team__networks--twitter {
  background: url("../img/sprite.png") no-repeat -40px 0;
}

.team__networks--twitter:hover,
.team__networks--twitter:focus {
  background: url("../img/sprite.png") no-repeat -40px -50px;
}

.team__networks--linkedin {
  background: url("../img/sprite.png") no-repeat -80px 0;
}

.team__networks--linkedin:hover,
.team__networks--linkedin:focus {
  background: url("../img/sprite.png") no-repeat -80px -50px;
}

/*clients
  ========================================================================== */

.slider>input {
  display: none;
}

.slider {
  position: relative;
  max-width: 1900px;
  background-color: #53354a;
}

.slide {
  display: none;
  line-height: 0;
  animation-name: slide;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
}

.slide__photo,
.slide__text {
  width: 50%;
}

.slide__photo img {
  width: 100%;
  height: auto;
}

.slide__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.slide__text--q {
  width: 90%;
  font-style: italic;
  font-size: 2.25em;
  line-height: 120%;
  font-family: Cardo, "Open Sans", Arial;
  color: #ffffff;
}

.slide__text--p {
  width: 90%;
  margin: 25px 0 0 0;
  font-size: 0.8em;
  line-height: 160%;
  font-family: "Raleway Bold";
  text-transform: uppercase;
  color: #ffffff;
}

.slider__controls {
  position: absolute;
  top: 80%;
  left: 72%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 95px;
  height: 10px;
}

.slider__btn {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.2;
  cursor: pointer;
  -webkit-transition: opacity ease-in-out 0.5s;  /*переход цвета при наведении курсора плавный, в течении 0.5с по соответствующей кривой безье*/
  -moz-transition: opacity ease-in-out 0.5s;
  -o-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
}

.slider__btn:hover, 
.slider__btn:focus,
#client1:checked~.slider__controls label:nth-of-type(1),
#client2:checked~.slider__controls label:nth-of-type(2),
#client3:checked~.slider__controls label:nth-of-type(3),
#client4:checked~.slider__controls label:nth-of-type(4),
#client5:checked~.slider__controls label:nth-of-type(5) {
opacity: 1;
}

#client1:checked~.slides>.client1,
#client2:checked~.slides>.client2,
#client3:checked~.slides>.client3,
#client4:checked~.slides>.client4,
#client5:checked~.slides>.client5 {
  display: flex;
}

/*donload
  ========================================================================== */

.download {
  padding: 95px 0 100px 0;
}

.download__caption {
  margin: 0 5% 0 5%;
  font-size: 1.8em;
  line-height: 130%;
  font-family: "Raleway light";
  font-weight: normal;
  text-align: center;
  color: #2d3033;
}

.download__info {
  margin: 8px 5% 0 5%;
  font-size: 0.8em;
  line-height: 160%;
  font-family: "Raleway Bold";
  text-transform: uppercase;
  text-align: center;
  color: #2d3033;
}

.btn {
  display: block;
  width: 200px;
  padding: 16px 0 16px 0;
  font-size: 0.8em;
  font-family: "Raleway SemiBold";
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #e84545;
  border: none;
  -webkit-transition: background-color ease-in-out .5s;
  -moz-transition: background-color ease-in-out .5s;
  -o-transition: background-color ease-in-out .5s;
  transition: background-color ease-in-out .5s;
  animation-name: btn;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
}

.download__btn {
  width: 280px;
  margin: 35px auto 0 auto;
}

.btn:hover,
.btn:focus {
  background-color: #e52e2e;
}

/*footer
  ========================================================================== */

.footer {
  z-index: -1;
  background-color: #3a3e64;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;  
  flex-wrap: wrap;
  padding: 58px 0 70px 0;
}

.footer__wrapper--center {
  display: flex;
  justify-content: center;
  width: 33.33%;
}

.location {
  width: 160px;
}

.share {
  width: 134px;
}

.info-activebox {
  width: 365px;
}

.footer__link {
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
}

.footer__link:hover,
.footer__link:focus {
  color: #e84545;
}

.footer__caption {
  padding: 0;
  font-size: 0.9em;
  font-family: "Raleway Bold";
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.footer__info {
  margin:  0 0 12px 0;
  padding: 0;
  font-size: 0.9em;
  line-height: 160%;
  font-family: "Raleway Regular";
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.footer__networks {
  margin: 15px 0 0 0;
}

.footer__networks--facebook {
  background: url("../img/sprite1.png") no-repeat 0 0;
}

.footer__networks--facebook:hover,
.footer__networks--facebook:focus {
  background: url("../img/sprite.png") no-repeat 0 -50px;
}

.footer__networks--twitter {
  background: url("../img/sprite1.png") no-repeat -40px 0;
}

.footer__networks--twitter:hover {
  background: url("../img/sprite.png") no-repeat -40px -50px;
}

.footer__networks--linkedin {
  background: url("../img/sprite1.png") no-repeat -80px 0;
}

.footer__networks--linkedin:hover,
.footer__networks--linkedin:focus {
  background: url("../img/sprite.png") no-repeat -80px -50px;
}

.copyright {
  z-index: 1;
  padding: 25px 0 25px 0;
  background-color: #313454;
}

.copyright__info {
  max-width: 325px;
  margin: auto;
}

.copyright__info span::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/heard.png) no-repeat;
}

@keyframes btn {
  0% {
   transform: rotate(0deg) scale(0.7);
  }
  20% {
    transform: rotate(0deg) scale(0.8);
  }
  40% {
    transform: rotate(0deg) scale(0.9);
  }
  50% {
    transform: rotate(8deg) scale(1);
  }
  60% {
    transform: rotate(-8deg) scale(1.2);
  }
  75%, 90% {
    transform: rotate(8deg) scale(1);
  }
  80%, 95% {
    transform: rotate(-8deg) scale(1);
  }
  70%, 85%, 100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1300px) {

  .wrap,
  .features,
  .teams {
    justify-content: space-around;
  }

  .info-activebox {
    max-width: 225px;
  }
}

@media screen and (max-width: 1200px) {
  .slide__text--q {
    font-size: 1.7em;
  }

  .slide__text--p {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 1020px) { 
}

@media screen and (max-width: 960px) {
/*слайдшоу в 1 колонку*/

  .slide {
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  .slide__photo { 
    width: 100%;
    text-align: center;
  }

  .slide__text {
    width: 100%; 
    margin-top: 0;
  }

  .slide__text {
    padding: 0 5%;
    text-align: left;
  }

  .slide__text--p,
  .slide__text--q {
    margin-top: 10px;
  }

  .slider__controls {
    position: static;
    height: 25px;
    margin: 10px auto 10px auto;
  }

  #client1:checked~.slides>.client1,
  #client2:checked~.slides>.client2,
  #client3:checked~.slides>.client3,
  #client4:checked~.slides>.client4,
  #client5:checked~.slides>.client5 {
    display: flex;
}


/*.work, .feature, .team в 2 колонки*/

  .work {
    width: 50%;
  }

  .feature,
  .team {
    width: 45%;
  }

  .feature:nth-child(3)::before, 
  .feature:nth-child(4)::before,
  .feature:nth-child(5)::before,
  .feature:nth-child(6)::before,
  .team:nth-child(3),
  .team:nth-child(4) {
    margin-top: 20px;
  }

/*уменьшаю размер шрифтов*/

  .masthead__caption {
    font-size: 2em;
  }

  .download__caption {
    font-size: 1.5em;
  }

/*уменьшаю padding*/

  .features,
  .teams,
  .download,
  .footer__wrapper {
    padding: 50px 0;
  }

  .masthead__wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  /*раскрывающееся меню*/

  .logo {
    width: 100%;
    margin-left: 5%;
  }

  .navigation__wrap {
    width: auto;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .navigation__list {
    display: flex;
  }
  
  .navigation__link {
    display: block;
    font-size: 1.5625em;
    line-height: 1.8em;
    text-align: center;
  }
  
  .navigation__link:hover,
  .navigation__link:focus {
    color:  rgb(255, 255, 255);
  }
  
  .navigation__label {
    display: block;
    width: 30px;
    min-height: 30px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: 5%;
    background: url("../img/menu.png") no-repeat;
  }
  
  .navigation__label:hover,
  .navigation__label:focus {
    cursor: pointer;
  }

  .navigation__label:active {
    animation-name: menu;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
  }

  @keyframes menu {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1)
    }
  }
  
  .navigation__label~.navigation__list {
    display: none;
  }

  #menu:checked~.navigation {
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
  }

  #menu:checked~.navigation>.navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  #menu:checked~.navigation>.navigation__label {
    background: url("../img/menu.png") no-repeat 0 -40px;
  }
}

@media screen and (max-width: 640px) {
/*.work, .feature, .team, .footer в 1 колонку*/

  .feature,
  .work,
  .team,
  .footer__wrapper--center {
    width: 100%;
  }

  .feature:nth-child(2)::before,
  .team:nth-child(2),
  .footer__wrapper--center:nth-child(2),
  .footer__wrapper--center:nth-child(3) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
