.block-center(@mt: 0; @mb: 0;) {
  margin-top: @mt;
  margin-right: auto;
  margin-bottom: @mb;
  margin-left: auto;
}

.footer__info {
  margin:  0 0 12px 0;
  padding: 0;
  font-size: 0.9em;
  line-height: 160%;
  font-family: "Raleway Regular";
  text-align: center;
  color: fade(@color-on-dark, 50%);
}

.col-2 {
  width: 45%;
}

.col-1 {
  width: 100%;
}

.mt-col {
  margin-top: 20px;
}