.team {
  width: 23%;  /*300px*/
}

.team img {
  max-width: 100%;
  height: auto;
}

.team__text {
  max-width: 270px;
  .block-center;
}

.team__name {
  margin: 24px 0 0 0;
  font-size: 1.4em;
  font-family: "Raleway Regular";
  font-weight: 400;
  text-align: left;
  color: @color-on-light-1;
}

.team__position {
  margin: 10px 0 0 0;
  font-size: 0.8em;
  font-family: "Raleway Regular";
  text-align: left;
  text-transform: uppercase;
  color: @color-on-light-2;
}

.team__info {
  text-align: left;
}

.team__networks {
  width: 130px;
  margin-top: 25px;
}